body {
}

#ContentPlaceHolder1_pnlProdutos div {
    float: left;
    width: auto;
    height: auto;
    text-align: center;
}

#ctl00$ContentPlaceHolder1$ctl01 div{

float: left;
width: auto;
height: auto;
text-align: center;
}

.product-Image {
    width: 250px;
    height: 250px;
    vertical-align: central;
    padding: 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.productPrice {
    font-family: arial,helvetica,sans-serif;
    color: #FFB600;
}

.product-Name {
    font-size: 18px;
    font-weight: bold;
}

.detailsImage {
    width: 264px;
    height: 363px;
    vertical-align: central;
    padding: 10px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

.detailsDescription {
    width: 400px;
    font-style: italic
}

.detailsPrice {
    font-size: 24px;
    font-weight: bold;
}
.button {
    padding: 10px;
    margin: 20px;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    clear: both;
    background: linear-gradient(to bottom, black, black);
}

.inputs {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #EAEAEA;
    background: -moz-linear-gradient(top, #FFF, #EAEAEA);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA));
    border: 1px solid #CACACA;
    color: #444;
    margin: 0 0 25px;
    padding: 5px 9px;
    width: 260px;
}

    .inputs:focus {
        background: #FFF;
        -webkit-box-shadow: 0 0 25px #CCC;
        -moz-box-shadow: 0 0 25px #ccc;
        box-shadow: 0 0 25px #CCC;
    }

.cartTable{
    text-align: center;
    border: 15px solid #dcdad4;
    margin-bottom: 10px;
    width:100%;
    padding: 10px;
}

.cartTable input{
    width: 65px;
    height: 65px;
}

.cartTable h4{
    padding: 0;
    margin: 0;
}

.cartTable tr td select{
    width: 100px;
}
/*Shopping Cart Page */
.CartTable {
    text-align: center;
    border: 15px solid #f5f4f2;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}

    .CartTable input {
        width: 65px;
        height: 65px;
    }

    .CartTable h4 {
        padding: 0;
        margin: 0;
    }

    .CartTable tr td select {
        width: 100px;
    }